<main>
  <p-table
    #dt
    [value]="cities.data"
    [rows]="15"
    [paginator]="true"
    [globalFilterFields]="['CP', 'ID', 'CIUDADID', 'PROVINCIA']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCities"
    [rowHover]="true"
    dataKey="ID"
    [showCurrentPageReport]="true"
    class="table-container"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
        </th>
        <th pSortableColumn="CP">CP<p-sortIcon field="CP"></p-sortIcon></th>
        <th pSortableColumn="CIUDADID">City<p-sortIcon field="CIUDADID"></p-sortIcon></th>
        <th pSortableColumn="PROVINCIA">Province<p-sortIcon field="PROVINCIA"></p-sortIcon></th>
        <th></th>
      </tr>
      <tr>
        <th>
          <button
            pButton
            pRipple
            *ngIf="selectedCities.length > 0"
            icon="fa fa-trash"
            class="p-button-rounded p-button-danger trash-container"
            (click)="deleteSelectedCities()"
            [disabled]="!selectedCities || !selectedCities.length"
          ></button>
        </th>
        <th>
          <input type="text" [(ngModel)]="newCity.CP" placeholder="New CP" />
        </th>
        <th>
          <input type="text" [(ngModel)]="newCity.CIUDADID" placeholder="New City" />
        </th>
        <th>
          <input type="text" [(ngModel)]="newCity.PROVINCIA" placeholder="New State" />
        </th>
        <th>
          <button
            pButton
            pRipple
            icon="fa fa-plus"
            class="p-button-rounded p-button-success btn-edit"
            (click)="addCity(newCity)"
            [disabled]="!newCity.CP || !newCity.CIUDADID || !newCity.PROVINCIA"
          ></button>
          <button
            pButton
            pRipple
            icon="fa fa-times"
            class="p-button-rounded p-button-danger btn-edit"
            (click)="resetNewCity()"
            [disabled]="!newCity.CP && !newCity.CIUDADID && !newCity.PROVINCIA"
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city>
      <tr>
        <td>
          <p-tableCheckbox [value]="city" class="checkbox-container"></p-tableCheckbox>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="city.CP"
            [ngClass]="{'disabled-input': !city.activeInput, 'active-input': city.activeInput}"
            [id]="'input-' + city.ID"
            [disabled]="!city.activeInput"
            (keydown.enter)="handleEnterKey(city)"
          />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="city.CIUDADID"
            [ngClass]="{'disabled-input': !city.activeInput, 'active-input': city.activeInput}"
            [id]="'input-' + city.ID"
            [disabled]="!city.activeInput"
            (keydown.enter)="handleEnterKey(city)"
          />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="city.PROVINCIA"
            [ngClass]="{'disabled-input': !city.activeInput, 'active-input': city.activeInput}"
            [id]="'input-' + city.ID"
            [disabled]="!city.activeInput"
            (keydown.enter)="handleEnterKey(city)"
          />
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="fa fa-pencil"
            class="p-button-rounded p-button-primary btn-edit"
            (click)="editCity(city)"
          ></button>
          <button
            pButton
            pRipple
            icon="fa fa-trash"
            class="p-button-rounded p-button-danger btn-edit"
            (click)="deleteCity(city)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">

    </ng-template>
  </p-table>
  <p-toast></p-toast>
</main>
