:root {
  --primary: #899ce0;
  --secondary: #03050c;
  --third: #3f3333;
  --forty: #ffffff;
  --green: #d5fdd4;
  --red: #f3bfbf;
  --blue: #c8cdfa;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
  height: 100%;
  background-color: var(--third);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--forty);
  border-radius: 1em;
}

body {
  background-color: var(--primary);
}
